#chat_box {
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 设置容器高度为视口高度 */
  }
  
  .modal {
    display: none; /* 默认隐藏弹出框 */
    position: fixed;
    z-index: 1033; /* 确保弹出框在其他元素之上 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* 半透明背景 */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 将弹出框垂直居中 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
