{% extends "base.html"%}

{% block titile %}
	login-box
{% endblock %}

{% block content_wrapper %}
<!-- Direct Chat -->
<div class="box">
<div class="row" id="chat_box">
	<div class="col-md-3" id="chat_modal">
		<!-- DIRECT CHAT PRIMARY -->
		<div class="card card-prirary cardutline direct-chat direct-chat-primary">
			<div class="card-header">
				<h3 class="card-title">Direct Chat</h3>
				<div class="card-tools">
					<span data-toggle="tooltip" title="3 New Messages" class="badge bg-primary">3</span>
					<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
							data-widget="chat-pane-toggle">
					<i class="fas fa-comments"></i></button>
					<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<!-- Conversations are loaded here -->
				<div class="direct-chat-messages">
					<!-- Message. Default to the left -->
					<div class="direct-chat-msg">
						<div class="direct-chat-infos clearfix">
							<span class="direct-chat-name float-left">Alexander Pierce</span>
							<span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
						</div>
						<!-- /.direct-chat-infos -->
						<img class="direct-chat-img" src="{% static 'images/11.jpg' %}" alt="Message User Image">
						<!-- /.direct-chat-img -->
						<div class="direct-chat-text">
							Is this template really for free? That's unbelievable!
						</div>
						<!-- /.direct-chat-text -->
					</div>
					<!-- /.direct-chat-msg -->

					<!-- Message to the right -->
					<div class="direct-chat-msg right">
						<div class="direct-chat-infos clearfix">
							<span class="direct-chat-name float-right">Sarah Bullock</span>
							<span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
						</div>
						<!-- /.direct-chat-infos -->
						<img class="direct-chat-img" src="{% static 'images/11.jpg' %}" alt="Message User Image">
						<!-- /.direct-chat-img -->
						<div class="direct-chat-text">
							You better believe it!
						</div>
						<!-- /.direct-chat-text -->
					</div>
					<!-- /.direct-chat-msg -->
				</div>
				<!--/.direct-chat-messages-->

				<!-- Contacts are loaded here -->
				<div class="direct-chat-contacts">
					<ul class="contacts-list">
						<li>
							<a href="#">
							<img class="contacts-list-img" src="{% static 'images/11.jpg' %}">

							<div class="contacts-list-info">
								<span class="contacts-list-name">
								Count Dracula
								<small class="contacts-list-date float-right">2/28/2015</small>
								</span>
								<span class="contacts-list-msg">How have you been? I was...</span>
							</div>
							<!-- /.contacts-list-info -->
							</a>
						</li>
						<!-- End Contact Item -->
					</ul>
					<!-- /.contatcts-list -->
				</div>
				<!-- /.direct-chat-pane -->
			</div>
			<!-- /.card-body -->
			<div class="card-footer">
				<form action="#" method="post">
					<div class="input-group">
						<input type="text" name="message" placeholder="Type Message ..." class="form-control">
						<span class="input-group-append">
							<button type="submit" class="btn btn-primary">Send</button>
						</span>
					</div>
				</form>
			</div>
			<!-- /.card-footer-->
		</div>
		<!--/.direct-chat -->
	</div>
	<!-- /.col -->
</div>
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Contacts</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active">Contacts</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- Default box -->
		<div class="card card-solid">
			<div class="card-body pb-0">
				<div class="row d-flex align-items-stretch">
					{% for person in people %}
					<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
						<div class="card bg-light">
							<div class="card-header text-muted border-bottom-0">
								{{ person.job_title }}
							</div>
							<div class="card-body pt-0">
								<div class="row">
									<div class="col-7">
										<h2 class="lead"><b>{{ person.name }}</b></h2>
										<p class="text-muted text-sm"><b>About: </b> {{ person.about }} </p>
										<ul class="ml-4 mb-0 fa-ul text-muted">
											<li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{ person.address }}</li>
											<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: {{ person.phone }}</li>
										</ul>
									</div>
									<div class="col-5 text-center">
										<img src="{% static 'images/11.jpg' %}" alt="" class="img-circle img-fluid">
									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="text-right">
									<button id="chatIcon" class="btn btn-sm bg-teal">
										<i class="fas fa-comments"></i>
									</button>
									<!-- <a href="#" class="btn btn-sm bg-teal">
									<i class="fas fa-comments"></i>
									</a> -->
									<a href="#" class="btn btn-sm btn-primary">
									<i class="fas fa-user"></i> View Profile
									</a>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- /.card-body -->
			<div class="card-footer">
				<nav aria-label="Contacts Page Navigation">
					<ul class="pagination justify-content-center m-0">
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item"><a class="page-link" href="#">5</a></li>
					<li class="page-item"><a class="page-link" href="#">6</a></li>
					<li class="page-item"><a class="page-link" href="#">7</a></li>
					<li class="page-item"><a class="page-link" href="#">8</a></li>
					</ul>
				</nav>
			</div>
			<!-- /.card-footer -->
		</div>
		<!-- /.card -->
	</section>
	<!-- /.content -->
</div>
</div>
{% endblock %}

{% block custom_script %}
<script>
	document.addEventListener("DOMContentLoaded", function() {
    // 获取弹出框元素
	var modal = document.getElementById("chat_box");
	
	// 获取打开弹出框的按钮
	var btn = document.getElementById("chatIcon");
	
	// 点击打开弹出框按钮时显示弹出框
	btn.onclick = function() {
	  modal.style.display = "block";
	}
	
	// 点击关闭按钮时隐藏弹出框
	// span.onclick = function() {
	//   modal.style.display = "none";
	// }
	
	// 在用户点击弹出框外部时隐藏弹出框
	window.onclick = function(event) {
	  if (event.target == modal) {
		modal.style.display = "none";
	  }
	}
});
</script>
{% endblock %}